@import "./code-before.css";
@import "./inline-code.css";

:--content {
  & div[class*="language-"] {
    @apply flex flex-row-reverse;
    @apply bg-slate-800 bg-opacity-80;
    @apply rounded-lg overflow-auto;

    @apply text-white text-sm;
    @apply relative;

    /* ========[ 自定义颜色 ]======== */
    --shiki-color-text: theme("colors.slate.200");
    --shiki-color-background: theme("colors.slate.800");
    --shiki-token-constant: theme("colors.blue.300");
    --shiki-token-string: theme("colors.teal.500");
    --shiki-token-comment: theme("colors.slate.500");
    --shiki-token-keyword: theme("colors.blue.400");
    --shiki-token-parameter: #aa0000;
    --shiki-token-function: theme("colors.amber.200");
    --shiki-token-string-expression: var(--shiki-token-string);
    --shiki-token-punctuation: theme("colors.slate.200");
    --shiki-token-link: theme("colors.sky.500");
    /* ============================== */

    & > .shiki {
      /* @apply bg-slate-700 bg-opacity-80 !important; */
    }
    &::after {
      content: "";
      @apply absolute inset-0 pointer-events-none;
    }

    --ext-opacity: 0;
    &:hover {
      --ext-opacity: 0.5;
    }
    &::before {
      @apply absolute top-1 right-2;
      @apply text-sm text-white text-opacity-[var(--ext-opacity)] uppercase;
      @apply transition-all;
    }

    & > .line-numbers,
    & > .shiki,
    & > .highlight-lines {
      @apply py-2;
    }

    & > .line-numbers {
      @apply px-4 text-right;
      @apply select-none;

      counter-reset: line-number;

      & .line-number::before {
        counter-increment: line-number;
        content: counter(line-number);
      }
    }

    & > .shiki {
      @apply flex-1;
      @apply px-2 overflow-auto;
    }

    & > .highlight-lines {
      @apply absolute top-0 bottom-0 left-0 right-0;
      @apply whitespace-pre;
      @apply pointer-events-none;

      & > .highlight-line {
        @apply bg-slate-400 bg-opacity-20;
        @apply backdrop-saturate-150;
      }
    }
  }
}
