registry="https://registry.npmmirror.com"

public-hoist-pattern[]="vue"
public-hoist-pattern[]="vue-router"
public-hoist-pattern[]="*vuepress*"

public-hoist-pattern[]="@vue*"
public-hoist-pattern[]="typescript"
public-hoist-pattern[]="pinia"
public-hoist-pattern[]="axios"
public-hoist-pattern[]="lodash"

public-hoist-pattern[]="*eslint*"
public-hoist-pattern[]="*prettier*"
