@import "./articles.css";

html,
body {
  @apply m-0 p-0;
}

body {
  @apply m-auto py-48 w-[60ch] sm:w-[80ch] text-left bg-slate-50 text-slate-600;
  @apply break-words;
  @apply leading-6;

  font-family: "Sarasa Mono SC Nerd", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  & :is(h1, h2, h3, h4, h5, h6) {
    @apply relative;
    @apply text-slate-800  font-medium;
  }

  & a {
    @apply text-blue-500;
    @apply underline underline-offset-2 decoration-dashed;

    &::visited {
      @apply text-violet-500;
    }

    &[target]::after {
      font: normal normal normal 24px/1 "Material Design Icons";
      content: "\F03CC";

      @apply text-xs;
      @apply relative -top-1;
    }
  }

  & table {
    @apply relative w-full backdrop-blur;

    & thead {
      & th {
        @apply border-b-2 border-slate-500 border-opacity-10;
        @apply text-left;

        @apply first-of-type:rounded-tl last-of-type:rounded-tr;
      }
    }

    & tbody {
      counter-reset: table-row-count;

      & tr {
        counter-reset: table-col-count;
        counter-increment: table-row-count;

        & td {
          counter-increment: table-col-count;

          @apply border-t-2 border-slate-500 border-opacity-10;
          @apply bg-opacity-60;

          @apply first-of-type:border-l-0 last-of-type:border-r-0;

          @apply relative;
          &::after {
            content: "(" counter(table-col-count) "," counter(table-row-count)
              ")";
            @apply absolute bottom-0 right-0;
            @apply text-xs text-slate-500 opacity-50;
          }
        }

        &:last-of-type td {
          @apply first-of-type:rounded-bl last-of-type:rounded-br;
        }
      }
    }

    & th,
    & td {
      @apply px-4 py-2;
      @apply bg-slate-100 hover:bg-slate-200;
    }
  }

  & img {
    @apply max-w-full;
  }

  & hr {
    @apply border-0 h-auto my-4;
    @apply text-center w-full leading-4;
    @apply bg-slate-100 text-slate-500;

    &::before {
      @apply content-["--=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=--"];
      @apply sm:content-["--=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=--"];
      @apply md:content-["--=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=-=+=--"];
    }
  }

  & .logo-wrapper {
    @apply fixed bottom-0 right-0 -z-10;
    @apply flex justify-end items-end;
    @apply pointer-events-none;
    @apply origin-bottom-right;
    @apply scale-[.1] sm:scale-[.2] md:scale-[.25];
    @apply opacity-50;
  }

  & .giscus {
    @apply my-8;
  }

  & svg[astro-icon] {
    @apply inline-block w-[1em];
  }

  & .filter-wrapper {
    @apply fixed -inset-8;
    @apply pointer-events-none;
    @apply backdrop-blur opacity-100;
    @apply bg-gradient-to-br from-sky-500 to-rose-500;
    @apply mix-blend-hard-light;

    /* background-image: repeating-linear-gradient(
        180deg,
        transparent,
        transparent 0.2rem,
        rgb(0 0 0 / 0.2) 0.2rem,
        rgb(0 0 0 / 0.2) 0.25rem
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 0.3rem,
        rgb(0 0 0 / 0.2) 0.3rem,
        rgb(0 0 0 / 0.2) 0.35rem
      ); */

    /* mask-image: radial-gradient(
      transparent,
      transparent,
      rgb(0 0 0 / 0.1),
      rgb(0 0 0)
    ); */
    mask-image: linear-gradient(
      to bottom,
      rgb(0 0 0),
      rgb(0 0 0 / 0.4) 10%,
      rgb(0 0 0 / 0.2) 20%,
      transparent 50%,
      rgb(0 0 0 / 0.2) 80%,
      rgb(0 0 0 / 0.4) 90%,
      rgb(0 0 0)
    );

    &::after {
      content: "";
      @apply w-full h-full;
      background-image: repeating-linear-gradient(
        180deg,
        transparent,
        transparent 7%,
        rgb(0 0 0 / 0.6) 10%
      );
    }
  }
}
